{% extends "layout.html" %}

{% block title %}Add Student{% endblock %}

{% block content %}
    <h1>Add a Student</h1>
    <form action="{{ url_for('create_student') }}" method="POST" id="create-student-form">
        <div>
            <label>Roll Number: </label>
            <input type="text" name="roll" required />
        </div>
        <div>
            <label>First Name: </label>
            <input type="text" name="f_name" required />
        </div>
        <div>
            <label>Last Name: </label>
            <input type="text" name="l_name" />
        </div>
        <div>
            <input type="submit" value = "Submit">
        </div>
    </form>
{% endblock %}