<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AB Diagnostics</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <div class="head">
        <h1>AB Diagnostics Health Care Centre</h1>
        <h3>~one stop solution for all your problems</h3>
    </div>
    <div class="description">
        <h2>Welcome to AB Diagnostics. Where Speciality meets excellence.</h2>
        <ul>
            <li>This is a one stop solution for all your health problems.</li>
            <li>We provide a comprehensive coverage for all services.</li>
            <li>A number 1 healthcare service provider</li>
        </ul>
    <div class="index">
        <a href="{{url_for('static',filename='art.png')}}">Pharma</a>
        <!-- <h4>Pharmacy near me</h4> -->
    </div>
    <div class="index">
        <h4>Labs near me</h4>
    </div>
    <div class="index">
        <h4>Clinics near me</h4>
    </div>
    <div class="index">
        <h4>Doctors near me</h4>
    </div>
    <div class="index">
        <h4>Hospitals near me</h4>
    </div>
    <div class="footer">
        <h3>copyright AB Diagnostics 2025</h3>
    </div>
</body>
</html>